/* Global Styles */

:root {
    --color-gradient-1: linear-gradient(hsla(248, 50%, 45%, 0.29) 0%, hsla(28, 79%, 64%, 0.64) 100%);
    --color-gradient-2:  linear-gradient(180deg, #000000 0%, #70645C 100%);
    --color-accent-1: hsla(28, 79%, 64%, 0.5);
    --color-accent-2: hsla(248, 49%, 45%, 0.2);
    --white: white;
    --black: black;
    --container-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
    --button-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

html, body {
    margin: 0 auto;
    min-height: 100vh;
    scroll-behavior: smooth;
}


/* Global elements */


h1 {
    font-size: 8rem;
    line-height: 80px;
    font-weight: 700;
    color: transparent;
    background: var(--color-gradient-2);
    -webkit-background-clip: text;
    background-clip: text;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
    color: var(--white);
    background: var(--color-gradient-2);
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    box-shadow: var(--button-shadow);
    scale: 1.025;
    letter-spacing: 1%;
    transition: ease-in-out 0.2s;  
}

strong {
    font-weight: 700;
}

.Body-Container {
    max-width: 1440px;
    margin: 0 auto;
}


/* Navigation */


.Nav-Container {
    position: relative;
    width: 100%;
    z-index: 999;
}

.Nav-List {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 1.6rem;
    gap: 20px;
    align-items: center;
    color: var(--black);
}

.Desktop {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
}

.Desktop li:first-child {
    margin-right: auto;
}

.Nav-List li:hover {
    font-weight: 600;
    cursor: pointer;
    scale: 1.025;
    transition: ease-in-out 0.2s;
}

.Small-Button {
    font-size: 1.6rem;
    padding: 5px 20px;
    border-radius: 20px;
}

.Home-Button {
    padding: 5px 20px;
    border-radius: 20px;
    border-color: #000000;
    border-width: 1.5px;
    border-style: solid;
}




/* .Mobile li{
    font-size: 3rem;
    background-color: transparent;
    width: 50%;
    padding:  10px 0;
    text-align: center;
    border-radius: 100px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.Mobile li a {
    display: block;
    width: 100%;
    height: 100%;
}

.Mobile li:first-child {
    border-color: none;
    border-style: none;
    border-width: 0;
    margin: 0 auto;
}

.Mobile button{
    font-size: 3rem;
    padding: 10px 40px;
    border-radius: 100px;
}

.hide-on-desktop {
    display: none;
} */


/* Gallerie */


.Fotografie-Container {
    max-width: 100%;
    margin: 140px 40px 0 40px;
    background-color: white;
    border-radius: 25px;
    box-shadow: var(--container-shadow);
    display: flex;
    flex-direction: column;
}

.Media-Heading-Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 60px 10%;
    gap: 30px;
    max-height: 100%;
    padding-top: 60px;
    width: 100%,    
}   

.Media-Heading {
    padding-bottom: 10px;
    text-align: end;
    font-size: 7rem;
    line-height: 100%;
}

.Media-Linie {
    width: 2px;
    height: 140px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, #383838 50%, rgba(0, 0, 0, 0) 100%);
    flex-shrink: 0;
}


.Media-Subheading {
    font-size: 2rem;
    max-width: 400px;
}



/* .Foto-Gallerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 35px 40px 35px;
    gap: 20px;
    margin: 0 auto;
} */





.Gallerie {
    display: flex;
    justify-content: column;
    flex-wrap: nowrap;
    padding: 0 35px 40px 35px;
    flex: 1 1 0;
    gap: 18px;
}

.Column-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Column-Container .column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    gap: 16px;
}

.Column-Container .column img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}





/* Kontakt */


.Kontakt-Container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 9px 100px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 25px 25px 0 0;
    width: 100%;
}

.Kontakt {
    margin: 130px auto 180px auto;
    background-color: white;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: min(85%, 600px);
}

.Kontakt h1 {
    text-align: center;
}

.Kontakt-Heading-Container {
    display: flex;
    flex-direction: column;
    margin: 20px auto 40px auto;
    max-width: 525px;
    justify-content: center;
}

.Kontakt-Subheader {
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
    justify-content: center;
    padding: 0 10px;
}

.Kontakt-Adressen {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin: 40px 20px 20px 20px;
    background: linear-gradient(180deg, #000000 0%, #70645C 100%);
    color: white;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: 500;
    width: auto;
    gap: 20px;
}

.Kontakt-Adressen p {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.Vektorgrafiken {
    display: block;
}

.Footer-Container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 85%;
    margin: 0 auto;
}


/* Footer */


.Kontakt-Soziales-Schlagworte {
    display: flex;
    justify-content: space-between;
}

.Footer {
    font-size: 1.4rem;
}

.Header {
    font-weight: 700;
}

.Left {
    line-height: 25px;
}

.Footer a {
    color: black;
}

.Soziales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.Schlagworte {
    line-height: 25px;
    text-align: end;
}

.Impressum-Datenschutz-Container {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.Impressum-Datenschutz-Container a {
    text-decoration: none;
    color: #666666;
    font-size: 10px;
}


/* Gradients */


.gradients {
    max-width: 100%;
    overflow: hidden;
}
/* 
.gradient-1 {
    position: absolute;
    top: -20%;
    left: 0%;
    width: 100%;
    max-width: 100vw;
    height: 200px;
    border-radius: 50%;
    z-index: -3; 
    background: linear-gradient(360deg, hsla(248, 50%, 25%, 0.29) 0%, hsla(28, 85%, 10%, 1.0) 100%);
    filter:blur(100px);
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}   */


.gradient-5 {
    position: absolute;
    left: 60%;
    top: 5%; 
    width: 332px;
    height: 332px;
    border-radius: 50%; 
    background-color: var(--color-accent-1);
    filter:blur(350px);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    overflow: hidden;
    z-index: -1;
}

.gradient-6 {
    position: absolute;
    left: 15%;
    bottom: 30%; 
    width: 600px;
    height: 325px;
    border-radius: 50%;
    background-color: var(--color-accent-2);
    filter:blur(350px);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    overflow: hidden;
    z-index: -1;
}








/* Media Queries */


@media (max-width: 1250px) {
       
}

@media (max-width: 1050px) {
    
    .Media-Heading-Container {
        margin: 0 auto 60px auto;
        gap: 20px;   
    }   
    
    .Media-Heading {
        font-size: 6rem;
    }
    
    .Media-Linie {
        height: 120px;
    }

    .Media-Subheading {
        font-size: 1.6rem;
        max-width: 300px;
    }

    .Column-Container .column {
        gap: 12px;
    }

    
}

@media (max-width: 780px) {
    .Media-Heading-Container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 40px auto;
        gap: 20px;
        padding-top: 40px;  
    }   

    .Media-Heading {
        font-size: 5rem;
        text-align: center;
    }
    
    .Media-Linie {
        width: 80%;
        height: 2px;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, #383838 50%, rgba(0, 0, 0, 0) 100%);
    }

    .Media-Subheading {
        font-size: 1.6rem;
        max-width: 60%;
        text-align: center;
    }

    .Kontakt-Container {
        margin-top: -20px;
    }
    
    .Kontakt-Adressen p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        gap: 8px;
    }
    
    .Kontakt-Soziales-Schlagworte {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }

    .Schlagworte {
        display: none;
    }

    .Impressum-Datenschutz-Container {
        margin: 20px auto 0 auto;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }  

    .Fotografie-Container {
        margin: 100px 20px 0 20px;
    }

   
    .Foto-Gallerie {
        width: 90%;
        gap: 20px;
    }










    .Gallerie {
        display: flex;
        justify-content: column;
        flex-wrap: nowrap;
        padding: 0 35px 40px 35px;
        flex: 1 1 0;
        gap: 18px;
    }

    .Column-Container {
        flex-direction: column;
        gap: 18px;
    }

    .Column-Container .column {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 16px;
        margin: 0 auto
    }


}

@media (max-width: 650px) { 
    .Kontakt h1 {
        font-size: 6rem;
    }
    
    .Kontakt-Subheader {
        font-size: 1.6rem;
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
    }
    
}

@media (max-width: 550px) {

    .Desktop {
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .Media-Heading {
        font-size: 4rem;
    }
    
    .Media-Subheading {
        max-width: 75%;
    }

    .Foto-Gallerie {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        gap: 20px;
    }

    .Kontakt {
        margin: 80px auto 120px auto;
    }


    .Column-Container .column {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .Media-Heading {
        padding-bottom: 5px;
    }

}